@CHARSET "utf-8";

.list-menu {
	padding: 10px 15px;
	font: 20px/24px tahoma;	
}

.list-footer {
	padding: 10px 15px;
	font: 14px/18px tahoma;	
}

.header {
	background-color: #131313;	
}

.footer {
	background-color: #131313;	
}

.menu {
	padding-right: 45px;
}