<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<title>Home</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<header layout:fragment="custom-header">
		<div class="clearfix header">
			<nav class="block pull-right menu">
				<ul>
					<li class="inline-block list-menu"><a class="white-text"
						th:href="${'/'}">HomePage</a></li>
					<li class="inline-block list-menu"><a class="white-text"
						th:href="${'/clientes/'}">Clientes</a></li>
					<li class="inline-block list-menu"><a class="white-text"
						href="@">Contato</a></li>
					<li sec:authorize="isAuthenticated()" class="inline-block list-menu">
						<div class="block" style="width=60px">
							<h1 sec:authorize="hasRole('ROLE_USER')" class="user-info inline text-center">Usuario <span sec:authentication="name"></span></h1>
							<h1 sec:authorize="hasRole('ROLE_ADMIN')" class="user-info inline text-center">Administrador <span sec:authentication="name"></span></h1>
							<form name="form" th:action="@{/logout}" action="/logout" method="POST">
								<input type="submit" id="login" value="Sair" class="logout-button inline text-center" />
							</form>
						</div>
					</li>
					<li sec:authorize="!isAuthenticated()" class="inline-block list-menu">
						<div class="block">							
							<form name="form" th:action="@{/login}" action="/login" method="get">
								<input type="submit" id="login" value="Login" class="logout-button" />
							</form>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="content" layout:fragment="content"></div>

	<footer layout:fragment="custom-footer">
		<div class="clearfix footer">
			<nav class="block text-center menu">
				<ul>
					<li class="inline-block list-menu"><a class="white-text"
						th:href="${'/'}">HomePage</a></li>
					<li class="inline-block list-menu"><a class="white-text"
						th:href="${'/clientes/'}">Clientes</a></li>
					<li class="inline-block list-menu"><a class="white-text"
						href="@">Contato</a></li>
				</ul>
			</nav>
		</div>
	</footer>

</body>
</html>