@CHARSET "utf-8";

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.list-menu {
	padding: 10px 15px;
	font: 20px/24px tahoma;	
}

.header {
	background-color: #131313;	
}

.menu {
	padding-right: 45px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}