<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Deletar cliente</title>
	<link rel="stylesheet" type="text/css" href="home.css" />
	<link rel="stylesheet" type="text/css" href="menu.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<header>
		<div class="clearfix header">
			<nav class="block pull-right menu">
				<ul>
					<li class="inline-block list-menu"><a th:href="${'/'}">HomePage</a></li>
					<li class="inline-block list-menu"><a th:href="${'/clientes/'}">Clientes</a></li>
					<li class="inline-block list-menu"><a href="@">Contato</a></li>
				</ul>
			</nav>
		</div>
	</header>
	
	<div class="content">
		<h2>Visualizar</h2>
		
		<form th:action="@{/clientes/deletar}" th:object="${cliente}" method="post">
		
			<p> Você tem certeza que deseja excluir permamentemente o cliente abaixao!?</p>
			<button type="submit">Deletar</button> 
			<button type="button" th:href="${'/clientes/'}">Cancelar</button>
	
			<p>
				<div><label class="control-label">ID: </label></div>
				<input th:field="*{id}" type="text" disabled="true" />
			</p>
			
			<p>
				<div><label class="control-label">Nome: </label></div>
				<input th:field="*{nome}" type="text" disabled="true" />
			</p>
			
			<p>
				<div><label class="control-label">CPF: </label></div>
		 		<input th:field="*{cpf}" type="text" disabled="true"/>
			</p>
			
			<p>
		 		<div><label class="control-label">Email: </label></div>
		 		<input th:field="*{email}" type="text" disabled="true"/>
	 		</p>
	 		
	 		<p>
		 		<div><label class="control-label">CEP: </label></div>
		 		<input th:field="*{cep}" type="text" disabled="true"/>
	 		</p>
	 		
	 		<p>
		 		<div><label class="control-label">Endereço: </label></div>
		 		<input th:field="*{endereco}" type="text" disabled="true"/>
	 		</p>
	 		
	 		<p>
		 		<div>label class="control-label">Bairro: </label></div>
		 		<input th:field="*{bairro}" type="text" disabled="true"/>
	 		</p>
	 		
	 		<p>
		 		<div><label class="control-label">Cidade: </label></div>
		 		<select th:field="*{idCidade}" disabled="true">
	                <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
	            </select>
            </p>
             
		</form>
	</div>
	
	<footer>
		<div class="clearfix footer">
			<nav class="block text-center menu">
				<ul>
					<li class="inline-block list-menu"><a th:href="${'/'}">HomePage</a></li>
					<li class="inline-block list-menu"><a th:href="${'/clientes/'}">Clientes</a></li>
					<li class="inline-block list-menu"><a href="@">Contato</a></li>
				</ul>
			</nav>
		</div>
	</footer>
	
</body>
</html>		