<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">>
<head>
	<title>Exibir cliente</title>
</head>
<body>
	
	<div layout:fragment="content">
		<h2>Visualizar</h2>
		
		<form th:object="${cliente}">
	
			<p>
				<div><label class="control-label">ID: </label></div>
				<input th:field="*{id}" type="text" disabled="true" />
			</p>
			
			<p>
				<div><label class="control-label">Nome: </label></div>
				<input th:field="*{nome}" type="text" disabled="true" />
			</p>
			
			<p>
				<div><label class="control-label">CPF: </label></div>
		 		<input th:field="*{cpf}" type="text" disabled="true"/>
			</p>
			
			<p>
		 		<div><label class="control-label">Email: </label></div>
		 		<input th:field="*{email}" type="text" disabled="true"/>
	 		</p>
	 		
	 		<p>
		 		<div><label class="control-label">CEP: </label></div>
		 		<input th:field="*{cep}" type="text" disabled="true"/>
	 		</p>
	 		
	 		<p>
		 		<div><label class="control-label">Endereço: </label></div>
		 		<input th:field="*{endereco}" type="text" disabled="true"/>
	 		</p>
	 		
	 		<p>
		 		<div><label class="control-label">Bairro: </label></div>
		 		<input th:field="*{bairro}" type="text" disabled="true"/>
	 		</p>
	 		
	 		<p>
		 		<div><label class="control-label">Cidade: </label></div>
		 		<select th:field="*{idCidade}" disabled="true">
	                <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
	            </select>
            </p>
             
		</form>
	</div>
	
</body>
</html>		