<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">>
<head>
	<title>Listar clientes</title>
</head>
<body>

	<div layout:fragment="content">
		<h2>Clientes</h2>
		<br />
		<h3 class="textoRoxo" th:if="${mensagem}" th:text="${mensagem}"></h3>
		
		<div th:if="${not #lists.isEmpty(clientes)}">
	        
	        <table class="block text-center simple-border table90-center">
	        
	            <tr>
	                <th class="th05 simple-border">Id</th>
	                <th class="th50 simple-border">
	                	<!-- <div>	                		
	                		<form th:action="${'/clientes/?nome=' + @{filtro}" id="myform" method="post">
	                			<label>Nome</label>
	                			<input type="text" id="filtro" th:field="*{filtro}" placeholder="Filtrar por..." onblur="function() {document.myform.submit()}"/>
	                		</form>
	                	</div> -->
	                </th>
	                <th class="th15 simple-border">CPF</th>
	                <th class="th10 simple-border">Situação</th>
	                <th class="th10 simple-border">Visualizar</th>
	                <th class="th10 simple-border">Editar</th>
	            </tr>
	            <tr th:each="cliente : ${clientes}">
	                <td class="th05 simple-border" th:text="${cliente.id}"><a th:href="@{|/clientes/${cliente.id}|}"></a></td>
	                <td class="th50 simple-border text-left" style="padding-left: 30px" th:text="${cliente.nome}"></td>
	                <td class="th15 simple-border" th:text="${cliente.cpf}"></td>
	                <td class="th10 simple-border" th:text="${cliente.situacao}"></td>
	                <td class="th10 simple-border"><a th:href="${ '/clientes/' + cliente.id}">Visualizar</a></td>
	                <td class="th10 simple-border"><a th:href="${'/clientes/editar/' + cliente.id}">Editar</a></td>
	            </tr>
	        </table>
	
	    </div>
	    <p><a th:href="${'/clientes/novo/'}">Clique aqui para adicionar um cliente novo</a></p>
	</div>
	
</body>
</html>

		