@model List<string>
@{
    ViewBag.Title = "CarregarLista";
}

<h2>Bem vindo a TOP Games!!!</h2>
<h3>Os melhores jogos com os menores preços. Somentes super lançamentos, não há outra locadora igual esta.</h3>
<div id="lista"style="border-style: solid">
    <ul>
        @foreach (var jogo in @Model)
        {
            <li>@jogo</li>
        }
    </ul>
</div>