<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">>
<head>
	<title>Detalhes do pedido</title>
</head>
<body>

	<div layout:fragment="content">
		<h2 class="text-center" th:if="${mensagem}" th:text="${mensagem}"></h2>
		<h2>Detalhes do pedido</h2>
		<br />		
		
		<div class="clearfix" style="min-width: 1030px">
			<div style="width: 200px" class="pull-left" >
				<p>
					<div><label class="control-label">Cliente: </label></div>
					<input th:field="*{pedido.nomeCliente}" type="text" disabled="true" />
				</p>
				
				<p>
					<div><label class="control-label">CPF: </label></div>
			 		<input th:field="*{pedido.cpf}" type="text" disabled="true"/>
				</p>
				
				<p>
			 		<div><label class="control-label">Data inclusão: </label></div>
			 		<input th:field="*{pedido.dataInclusao}" type="text" disabled="true"/>
		 		</p>
		 		
		 		<p>
			 		<div><label class="control-label">Data entrega: </label></div>
			 		<input th:field="*{pedido.dataEntrega}" type="text" disabled="true"/>
		 		</p>
		 		
		 		<p>
			 		<div><label class="control-label">Valor bruto: </label></div>
			 		<input th:field="*{pedido.valorBruto}" type="text" disabled="true"/>
		 		</p>
		 		
		 		<p>
			 		<div><label class="control-label">Valor desconto: </label></div>
			 		<input th:field="*{pedido.valorDesconto}" type="text" disabled="true"/>
		 		</p>
		 		
		 		<p>
			 		<div><label class="control-label">Valor final: </label></div>
			 		<input th:field="*{pedido.valorFinal}" type="text" disabled="true"/>
		 		</p>
		 		
		 		<p>
					<div style="width: 200px">
						<label class="control-label">Situação: </label>
					</div>
					<select th:field="*{pedido.situacao}" disabled="true">
						<option th:each="situacao : ${T(br.com.cwi.crescer.lavanderia.domain.Pedido.SituacaoPedido).values()}"
							th:value="${pedido.situacao}" th:text="${pedido.situacao}">
						</option>
					</select> 
					<span class="help-inline" th:errors="*{pedido.situacao}"></span>
				</p>
			</div>
	 		
		 	<div class="pull-right" style="max-width: 80%" th:if="${not #lists.isEmpty(pedido.itens)}">
		 	
		 		<h2 class="text-center">Itens do pedido</h2>
		        
		        <table class="block text-center simple-border table90-center">
		        
		            <tr>
		                <th class="th10 simple-border">Id item</th>
		                <th class="th20 simple-border">Descrição</th>
		                <th class="th10 simple-border">Peso</th>
		                <th class="th15 simple-border">Valor unitário</th>
		                <th class="th15 simple-border">Valor total</th>
		                <th class="th15 simple-border">Situação</th>
		                <th class="th15 simple-border">
		                	<form th:action="@{/itens/processartodos}" th:object="${pedido}" method='post'>
							   <input type="hidden" th:field="*{idPedido}"></input>
							   <button type='submit' >Processar todos</button>
							</form>
						</th>
		            </tr>
		            <tr th:each="item : ${pedido.itens}">
		            	<td class="th10 simple-border" th:text="${item.idItem}"></td>
		                <td class="th20 simple-border" th:text="${item.servico} + ' ' + ${item.material}"></td>
		                <td class="th10 simple-border" th:text="${item.peso}+'Kg'"></td>
		                <td class="th15 simple-border" th:text="'R$ ' + ${item.valorUnitario}"></td>
		                <td class="th15 simple-border" th:text="'R$ '+ ${item.ValorTotal}"></td>
		                <td class="th15 simple-border" th:text="${item.situacao}"></td>
		                <td class="th15 simple-border">
		                	<form th:action="@{/itens/processar?idItem=} + ${item.idItem}" th:object="${pedido}" method='post'>
							   <button type='submit' >Processar item</button>
							</form>
						</td>
		            </tr>
		        </table>
		
		    </div>
		</div>
	</div>
	
</body>
</html>

		