@model List<string>
@{
    ViewBag.Title = "Relatorio de Jogos Disponiveis";
}

<h2>Relatorio dos jogos disponiveis</h2>
<div>@foreach (var relatorio in @Model)
      {
          @Html.Raw(relatorio);
      }
</div>

