@{
    ViewBag.Title = "Página Inicial";
}

<h2 class="text-center">Bem vindo a TOP Games!!!</h2>
<h3 class="text-center">Os melhores jogos com os menores preços. Somentes super lançamentos, não há outra locadora igual esta.</h3>
<img src="@Url.Content("~/Content/img/Locadora.JPG")" alt="Foto da Locadora TOP Games"/>